@tailwind base;

@tailwind components;

@tailwind utilities;

.simpleTransition {
    transition: all 500ms
}

.gatsby-resp-image-wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
}

.square-item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}